.user {
    background-color: lightblue;
    border-radius: 3px;
    margin: 5px;
    padding: 20px;

}
#output{
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
